<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Secret Wallhack</title>

  <script type="./components/platform/platform.js"></script>

  <link rel="import" href="./components/core-menu/core-menu.html">
</head>
<body>

<core-menu selected="0">
  <core-item icon="settings" label="Settings">A</core-item>
  <core-item icon="dialog" label="Dialog">B</core-item>
  <core-item icon="search" label="Search">C</core-item>
</core-menu>

</body>
</html>